body{
    padding: 0;
    margin: 0;
}
.contaner{
    display: grid;
    justify-content: start;
}

.photo_snap {
    margin-left: 80px;
}
.story {
    margin-left: 450px;
    font-size: 10px;
}
.fech{
    margin-left: 20px;
    font-size: 10px;
}
.stork{
    margin-left: 20px;
    font-size: 10px;
}
.other{
    position: absolute;
    height: 20px;
    width: 90px;
    background-color: black;
    top: 5px;
    left: 80%;
    color: #fff;
    text-align: center;
    line-height: 2;
    font-size: 10px;
}
.first_flex{
    display: grid;
    grid-template-rows: 500px;
    grid-template-columns: 500px 700px;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.item{
    background-color: black;
    /* height: 400px; */
    /* width: 500px;  */
    color: #fff;
}
/* .cerate{
    color: #fff;
    margin-top: 120px;
    margin-left: 60px;
    width: 300px;
    font-size: 30px;
    text-align: start;
}
.secon_layer_of_text{
    margin-left: 60px;
    width: 300px;
    margin-top: 10px;
    font-size: 12px;
    text-align: start;
}
.see_more{
    margin-left: 60px;
    width: 300px;
    margin-top: 19px;
    font-size: 9px;
    text-align: start;
} */
.item2{
    background-image: url("/image/HD-wallpaper-man-walking-on-bridge.jpg");
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 400px;
    width: 900px; */
}
/* 
.second_flex{
    display: flex;
    justify-content: baseline;
}
.item3{
    background-image: url("/image/compuetr-on\ a\ desk.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 900px;
    height: 400px;
}
.item4{
    background-color: #fff;
    width: 500px;;
    height: 400px;
    color: black;
} 
.beautiful{
    color: black;
    margin-top: 120px;
    margin-left: 60px;
    width: 300px;
    font-size: 30px;
    text-align: start;
}
.secon_layer_of_text{
    margin-left: 60px;
    width: 300px;
    margin-top: 10px;
    font-size: 12px;
    text-align: start;
}
.see_more{
    margin-left: 60px;
    width: 300px;
    margin-top: 19px;
    font-size: 9px;
    text-align: start;
}
.thrid_flex{
    display: flex;
    justify-content: baseline;
}
.item5{
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 400px;
}
.designed{
    color: black;
    margin-top: 120px;
    margin-left: 60px;
    width: 300px;
    font-size: 30px;
    text-align: start;
}
.secon_layer_of_text{
    margin-left: 60px;
    width: 300px;
    margin-top: 10px;
    font-size: 12px;
    text-align: start;
}
.see_more{
    margin-left: 60px;
    width: 300px;
    margin-top: 19px;
    font-size: 9px;
    text-align: start;
} 
.item6{
    background-image: url("/image/man\ holding\ a\ camra.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 900px;
    height: 400px; 
}
.forth_flex{
    display: flex;
    justify-content: baseline;
}
.item7{
    background-image: url("/image/mountain-g3f402b708_1920.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px; 
    color: #fff;
}
.mountain{
    color: #fff;
    margin-top: 300px;
    margin-left: 60px;
    width: 100px;
    font-size: 30px;
    text-align: start;
}
.secon_layer_of_text_small{
    margin-left: 60px;
    width: 100px;
    margin-top: 2px;
    font-size: 12px;
    text-align: start;
}
.see_more_small{
    margin-left: 60px;
    width: 100px;
    margin-top: 25px;
    font-size: 9px;
    text-align: start;
} 

.item8{
    background-image: url("/image/city.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 350px;
    height: 400px; 
    color: #fff;
}
.second{
    color: #fff;
    margin-top: 300px;
    margin-left: 60px;
    width: 250px;
    font-size: 30px;
    text-align: start;
}
.item9{
    background-image: url("/image/man\ walinking\ on\ a\ sun\ set.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 350px;
    height: 400px;
    color: #fff; 
}
.days{
    color: #fff;
    margin-top: 300px;
    margin-left: 60px;
    width: 300px;
    font-size: 30px;
    text-align: start;
}
.item10{
    background-image: url("/image/sycraper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 350px;
    height: 400px;
    color: #fff; 
}
.fith_flex{
    display: grid;
    justify-content: center;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 250px;
    background-color: rgb(134, 36, 36);

}
.item12{
    
    border: 1px solid black;
}
.logoplace1{

} */